logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

VITE_SYNC_CLIENT_ID=a82ee660-4055-42a0-be38-34d0dc075db0
VITE_SYNC_CLIENT_SECRET=08a485ce-71cc-4ce0-89ed-4d0c5458b4d1