

@font-face {
  font-family:Metropolis;
  font-style:normal;
  font-weight:100;
  src:local("Metropolis Thin"),
  url(/fonts/Metropolis-Thin-e87b67ad.woff2) format("woff2"),
  url(/fonts/Metropolis-Thin-d4c2bfc3.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:italic;
  font-weight:100;
  src:local("Metropolis Thin Italic"),
  url(/fonts/Metropolis-ThinItalic-f0ba6899.woff2) format("woff2"),
  url(/fonts/Metropolis-ThinItalic-31ba4bb1.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:normal;
  font-weight:200;
  src:local("Metropolis Extra Light"),
  url(/fonts/Metropolis-ExtraLight-56376682.woff2) format("woff2"),
  url(/fonts/Metropolis-ExtraLight-0da5acea.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:italic;
  font-weight:200;
  src:local("Metropolis Extra Light Italic"),
  url(/fonts/Metropolis-ExtraLightItalic-cb089003.woff2) format("woff2"),
  url(/fonts/Metropolis-ExtraLightItalic-1f9daf9d.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:normal;
  font-weight:300;
  src:local("Metropolis Light"),
  url(/fonts/Metropolis-Light-3664cf60.woff2) format("woff2"),
  url(/fonts/Metropolis-Light-79b15696.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:italic;
  font-weight:300;
  src:local("Metropolis Light Italic"),
  url(/fonts/Metropolis-LightItalic-c7ea8d33.woff2) format("woff2"),
  url(/fonts/Metropolis-LightItalic-114d5afe.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:normal;
  font-weight:400;
  src:local("Metropolis Regular"),
  url(/fonts/Metropolis-Regular-e920e6b0.woff2) format("woff2"),
  url(/fonts/Metropolis-Regular-b19e8951.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:italic;
  font-weight:400;
  src:local("Metropolis Regular Italic"),
  url(/fonts/Metropolis-RegularItalic-ccc6ad34.woff2) format("woff2"),
  url(/fonts/Metropolis-RegularItalic-77f052dc.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:normal;
  font-weight:500;
  src:local("Metropolis Medium"),
  url(/fonts/Metropolis-Medium-f3a73873.woff2) format("woff2"),
  url(/fonts/Metropolis-Medium-91cf497b.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:italic;
  font-weight:500;
  src:local("Metropolis Medium Italic"),
  url(/fonts/Metropolis-MediumItalic-f604beac.woff2) format("woff2"),
  url(/fonts/Metropolis-MediumItalic-7ed18e53.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:normal;
  font-weight:600;
  src:local("Metropolis Semi Bold"),
  url(/fonts/Metropolis-SemiBold-695870d1.woff2) format("woff2"),
  url(/fonts/Metropolis-SemiBold-bd9cc6de.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:italic;
  font-weight:600;
  src:local("Metropolis Semi Bold Italic"),
  url(/fonts/Metropolis-SemiBoldItalic-f08b947a.woff2) format("woff2"),
  url(/fonts/Metropolis-SemiBoldItalic-5e65c493.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:normal;
  font-weight:700;
  src:local("Metropolis Bold"),
  url(/fonts/Metropolis-Bold-9a712a2c.woff2) format("woff2"),
  url(/fonts/Metropolis-Bold-cd1f8382.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:italic;
  font-weight:700;
  src:local("Metropolis Bold Italic"),
  url(/fonts/Metropolis-BoldItalic-6f0a19e8.woff2) format("woff2"),
  url(/fonts/Metropolis-BoldItalic-3f088a11.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:normal;
  font-weight:800;
  src:local("Metropolis Extra Bold"),
  url(/fonts/Metropolis-ExtraBold-0c9ff630.woff2) format("woff2"),
  url(/fonts/Metropolis-ExtraBold-f79c09f3.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:italic;
  font-weight:800;
  src:local("Metropolis Extra Bold Italic"),
  url(/fonts/Metropolis-ExtraBoldItalic-8ef75318.woff2) format("woff2"),
  url(/fonts/Metropolis-ExtraBoldItalic-b4e62ca3.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:normal;
  font-weight:900;
  src:local("Metropolis Black"),
  url(/fonts/Metropolis-Black-bcd0ced5.woff2) format("woff2"),
  url(/fonts/Metropolis-Black-ece44382.woff) format("woff")
}
@font-face {
  font-family:Metropolis;
  font-style:italic;
  font-weight:900;
  src:local("Metropolis Black Italic"),
  url(/fonts/Metropolis-BlackItalic-fadeacd3.woff2) format("woff2"),
  url(/fonts/Metropolis-BlackItalic-fc2225d4.woff) format("woff")
}
html, body{
margin:0;
padding:0;
font-family: "Metropolis", sans-serif;
background:#FFF;
}
ul{
margin:0;
padding:0;
}
ul li{
padding:0;
margin:0;
list-style: none;
font-family: "Metropolis", sans-serif;
}
img{
max-width: 100%;
height:auto;
border:0;
outline: 0;
}
button, input, a, select{
outline: 0 !important;
border:0;
text-decoration: none;
font-family: "Metropolis", sans-serif;
}
a, span, p, h1, h2, h3, h4, h5, h6, small{
font-family: "Metropolis", sans-serif;
}
a{
text-decoration:none;
font-family: "Metropolis", sans-serif;
}
footer{
background-color: #f5f5f5;
padding: 35px 0 15px;
}
footer p{
color: #131313;
text-align: center;
font-size: 14px;
line-height: 2;
margin: 0;
}


.pix-container {
  width: 149%;
  background: #fff;
  
  padding: 32px;
  border-radius: 10px;
  position: relative;
  bottom: 50px;
  right: 319px;

}

.pix-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.pix-qrcode {
  display: block;
  width: 160px;
  height: 160px;
  object-fit: contain;
  margin: 0 auto 20px auto;
}

.pix-merchant {
  text-align: left;
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 300;
  color: #666;
}

.pix-code-box {
  width: 100%;
  height: 100px;
  border-radius: 8px;

  padding: 12px;
  font-size: 14px;
  resize: none;
  margin-bottom: 18px;
  background: #f8f8f8;
}

.pix-copy-btn {
  width: 100%;
  background: #e00000;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
}

.pix-instructions {
  font-size: 14px;
  color: #606060;
  margin-top: 10px;
}

.pix-instructions p{
  margin-bottom: 20px;
}

.pix-instructions a{
  text-decoration: underline;
  color: #5E7FB2;
}

.pix-status {
  margin-top: 12px;
  color: #666;
}

.pix-back-btn {
  width: 100%;
  background: #ddd;
  color: #333;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-top: 22px;
  cursor: pointer;
}
