.banner {
  width: 100%;
  height: 220px;
  background: #000;
  position: relative;
  overflow: hidden;
}

.banners {
  width: 100%;
  height: 100%;
  position: relative;
}

.list-banners {
  display: flex;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}

.item {
  min-width: 100%;
  height: 100%;
  position: relative;
  filter: brightness(0.45);
  transition: 0.3s;
}

.item.active {
  filter: brightness(1);
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ARROWS */
.arrow-banner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px;
  border-radius: 50%;
  background: rgba(0,0,0,0.6);
  cursor: pointer;
  z-index: 5;
  color: #fff;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

/* OVERLAYS LATERAIS */
.overlay-banner {
  top: 0;
  width: 20%;
  height: 100%;
  position: absolute;
  z-index: 4;
  pointer-events: none;
}

.overlay-left {
  left: 0;
  background: linear-gradient(to right, #000 40%, transparent);
}

.overlay-right {
  right: 0;
  background: linear-gradient(to left, #000 40%, transparent);
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  display: flex;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #777;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: red;
}
